*{
    background-color: whitesmoke;
    font-family: 'Dongle', sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

#child {
    
    width: 470px;
    height: 400px;
    background-color: white;
    color: black;
    position: relative;
    left: 23px;
    top: 23px;
    border-bottom: 1px solid #758283;

}
#image,#scene1 {
    width: 100%;
}

#header,#header1,#header2,#header3 {
    position: absolute;
    
    background-color: transparent;
    
}
#header {
    color: white;
    top: 178px;
    left: 25px;
}

#header3 {
    color: black;
    top: 15px;
    right: 105px;
}

#header2 {
    color: black;
    top: 25px;
    left: 25px;
}

#header1 {
    color: black;
    top: 370px;
    left: 25px;
    
}

#paragraph{
    top: 219px;
    color: white; 
}

#paragraph1{
    top: 400px;
    color: #758283;
}

#paragraph4 {
    position: absolute;
    right: 122px;
    top: 43px;
    background-color: transparent;
}

#paragraph2{
    top: 55px;
    color: #758283;
}

#paragraph,#paragraph1,#paragraph2 {
    position: absolute;
    left: 25px;
    background-color: transparent;
}

#content {
    position: absolute;
    background-color: transparent;
    bottom: 2%;
    right: 3%;
    font-size: 25px;
    padding: 5px;
    color: #758283;
    font-size: x-large;
}

.fas {
    margin-left: 30px;
}

.fas:active {
    background-color: #758283;
}


#description,#description1 {
    background-color: transparent;
    color: #758283;
    position: absolute;
    left: 25px;  
}

#description {
    right: 5px; 
    bottom: 13;
}

#description1 {
    right: 5px; 
    bottom: 40px;
}

#button1 {
    background-color: white;
    position: absolute;
    bottom: 3%;
    left: 5%;
    font-size: 19px;
    color:#6A1B4D;
    font-weight: bold;
    size: 20px;
    
}

#button1:active {
    background-color: #758283;
    color: black;
}
#button2:active {
    background-color: #758283;
    color: black;
}

#button2 {
    background-color: white;
    position: absolute;
    bottom: 3%;
    left: 20%;
    font-size: 19px;
    color:#6A1B4D;
    font-weight: bold;
}



#scene,#scene2 {
    width: 100%;
    height: 67%;
}




#child {
    
    width: 470px;
    height: 400px;
    background-color: white;
    color: black;
    position: relative;
    left: 23px;
    top: 23px;
    border-bottom: 1px solid #758283;

}
#image {
    width: 100%;
}

#scene3{
    width: 100%;
    top: 105px;
    position: absolute;
}

.new-row {
    width: 470px;
    height: 550px;
}

.new-row1,.new-row {
    background-color: white;
    color: black;
    position: relative;
    left: 23px;
    top: 23px;
    border-bottom: 1px solid #758283;

}


#scene4{
    width: 235px;
    height: 95px;

}

#child1 {
    width: 470px;
    height: 250px;
    background-color: white;
    color: black;
    position: relative;
    left: 23px;
    top: 23px;
    border-bottom: 1px solid #758283;
}