*{
    background-color: #223843;
    font-family: 'Dongle', sans-serif;
}

.container {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    align-items: center;
}

#child {
    
    width: 470px;
    height: 400px;
   
    color: black;
    position: relative;
    left: 23px;
    
    border-bottom: 1px solid #758283;

}
#image,#scene1 {
    width: 100%;
}

#header,#header1,#header2,#header3,#header5 {
    position: absolute;
    
    background-color: transparent;
    
}
#header {
    color: white;
    top: 178px;
    left: 25px;
    font-size: 25px;
}

#header3 {
    color: #223843;
    top: 15px;
    right: 70px;
    font-size: 30px;
}

#header2 {
    color: #223843;
    top: 0px;
    left: 25px;
    font-size: 35px;
}

#header1 {
    color: #223843;
    bottom: 96px;
    left: 25px;
    font-size:35px;
    
}

#header5 {
    color: #223843;
    bottom: 76px;
    left: 25px;
    font-size:35px;
    
}

#paragraph{
    top: 219px;
    color: white; 
}

#paragraph1{
    top: 400px;
    color: #758283;
}

#paragraph4 {
    position: absolute;
    right: 122px;
    top: 43px;
    background-color: transparent;
}

#paragraph2{
    top: 55px;
    color: #758283;
}

#paragraph,#paragraph1,#paragraph2 {
    position: absolute;
    left: 25px;
    background-color: transparent;
}

#content {
    position: absolute;
    background-color: white;
    bottom: 2%;
    right: 3%;
    font-size: 25px;
    padding: 5px;
    color: #758283;
    font-size: x-large;
}


.fas {
    background-color: white;
    margin-left: 30px;
}




#description,#description1 {
    background-color: transparent;
    color: #758283;
    position: absolute;
    left: 25px;  
}

#description {
    right: 5px; 
    bottom: 13;
}

#description1 {
    right: 5px; 
    bottom: 50px;
}

#button1 {
    background-color: #1F333D;
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-size: 19px;
    color: white;
    font-weight: bold;
    size: 20px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    
    
}

#button1:hover {
    background-color: #375B6D;
    color: white;
}

#button2:hover {
    background-color: #375B6D;
    color: white;
}

#button2 {
    background-color: #1F333D;
    position: absolute;
    cursor: pointer;
    bottom: 0%;
    left: 15%;
    padding: 0.5rem 0.5rem;
    font-size: 19px;
    color: white;
    font-weight: bold;
    margin-left: 40px;
}



#scene {
    width: 100%;
    height: 67%;
}

#scene2 {
    height: 60%;
    width: 100%;
   
}




#child {
    
    width: 470px;
    height: 400px;
    background-color: white;
    color: black;
    position: relative;
    left: 23px;
    top: 23px;
    border-bottom: 1px solid #758283;

}
#image {
    width: 100%;
}

#scene3{
    width: 100%;
    top: 85px;
    position: absolute;
}

.new-row {
    width: 470px;
    height: 470px;
}

.group {
    width: 470px;
    height: 400px;
}


.new-row1,.new-row,.group {
    background-color: white;
    color: black;
    position: relative;
    left: 23px;
    top: 23px;
    border-bottom: 1px solid #758283;

}


#scene4{
    width: 235px;
    height: 130px;

}

#child1 {
    width: 470px;
    height: 250px;
    background-color: white;
    color: black;
    position: relative;
    left: 23px;
    top: 23px;
    border-bottom: 1px solid #758283;
}



